@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid text-center py-5 bg-info px-0 text-light">
    <h1 class="fw-bold">Voluntariados UNAH</h1>
    <br />
    <h3>Juntos Transformando Comunidades</h3>
    <p>Una red universitaria comprometida con el desarrollo social y ambiental a través de la acción voluntaria organizada</p>
</div>

