
@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>

<p>
    Esta es una página de pruebas. No está pensada para ser vista.
</p>

<p>
    Si usted está viendo esta página como un usuario, significa que algo salió mal o que ocurrió algo que no debería.
</p>

<p>
    Por favor, reporte el error inmediatamente.
</p>